    /*
    Flaticon icon font: Flaticon
    Creation date: 31/10/2019 12:56
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-network:before { content: "\f100"; }
.flaticon-height:before { content: "\f101"; }
.flaticon-radar:before { content: "\f102"; }
.flaticon-artificial-intelligence:before { content: "\f103"; }
.flaticon-motion-sensor:before { content: "\f104"; }
.flaticon-missile:before { content: "\f105"; }
.flaticon-vision:before { content: "\f106"; }
.flaticon-camera-360:before { content: "\f107"; }
.flaticon-paragliding:before { content: "\f108"; }
.flaticon-booster:before { content: "\f109"; }
.flaticon-infrared:before { content: "\f10a"; }
    
    $font-Flaticon-network: "\f100";
    $font-Flaticon-height: "\f101";
    $font-Flaticon-radar: "\f102";
    $font-Flaticon-artificial-intelligence: "\f103";
    $font-Flaticon-motion-sensor: "\f104";
    $font-Flaticon-missile: "\f105";
    $font-Flaticon-vision: "\f106";
    $font-Flaticon-camera-360: "\f107";
    $font-Flaticon-paragliding: "\f108";
    $font-Flaticon-booster: "\f109";
    $font-Flaticon-infrared: "\f10a";